.ZOO{
text-align: center;
background-color: blue;
border-radius: 50px;
border: 3px solid red;
}
.nima{
color: green;
}
.css{
background-color: yellow;text-align: center;color: green;
}
.nimakk{
background-color: yellow;text-align: center;color: green;
}
.uno{
    color: green;
}
.lom{
    background-color: aqua;
}

.da{
    background-color: yellow;text-align: center;color: green;
}
td{
    background-color: blueviolet;
}
.i{
background-color: green;
}
.q{
    background-color: blue;
}
.a{
    background-color: red;
}
.d{
    background-color: black;
    color: aliceblue;
}












